*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Sans-serif;

}

@media screen and (max-width:425px) {
/*encabezado*/
header{
    width: 100%; 
 }
 
 .inicio{
     width: auto;
     align-items: center;    
 }
 
 .inicio a img {
     width: 53.53px;
     height: 58.91px;
 }

 .barra{
     width: 100%;
 }

 .barra nav ul{
     height: 17px;
 }
 .barra nav ul{
     width: 100%;
     font-size: 15px;
     flex-wrap: wrap;
     height: auto;
     ;      
 }

 .barra nav ul li a{
     padding: 5px;
     width: 100%;
     height: auto;
 }

 .barra ul li a:hover{
     color: #e35b34;
     font-size: 17px;
 }

 .menu{
     flex-direction: column;
     width: auto;
     align-items: center;
     padding: 5px;
 }

 .menu img{
     width: 25px;
     height: 25px;
 }

/*section del index*/

 .galeria{
     display: grid;
     grid-template-rows: 140px 200px 200px;
     grid-template-columns: 1fr 1fr;
     column-gap: 5px;
     row-gap: 5px;
     grid-template-areas: 
     "foto1 foto1"
     "foto2 foto2"
     "foto3 foto4"
 }

 .foto1{
     height: 140px;
     width: 100%;
     grid-area: foto1;
 }
 .foto2{
     height: 200px;
     width: 100%;
     grid-area: foto2;
 }

 .foto3{
     height: 200px;
     width: 100%;
     grid-area: foto3;
 }

 .foto4{
     height: 200px;
     width: 100%;
     grid-area: foto4;
 }

/*user.html*/ 
 
 .logeo h2{
     font-size: 20px;
 }

 .logeo label{
     font-size: 17px;
 }

 .logeo p{
     font-size: 17px;
 }

/*footer*/
 footer h3 {
     font-size: 18px;
 }

 footer p{
     font-size: 12px;
 }

 footer a{
     font-size: 12px;
 }

 p.foot {
     font-size: 15px;
 }

/*hombre.html*/
 h2{
     font-size: 25px;
 }

 .filtro{
     height: 26px;
     width: 42%;
     margin-left: 57%;
     margin-right: 300px;
     overflow-y: scroll;
 }

 .filtro div p{
     font-size: 15px;
 }

 .t{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     height: 40px;
 } 
 
 .marca2{
     height: 30px;
     width: 30%;
 }

 .marca{
     height:30px;
     width:30%;
 }

 .talle{
     height: 20px;
     width: 20%;
     text-align: center;
 }
 .catalogo div{
     width: 100%
     height: 100%;
 }
 .catalogo div p{
     font-size: 13px;
 }

 .catalogo div img{
     width: 165px;
     height: 165px;
 }
}

/*este @media screen and (min-width:426px) lo utilicé para que los componentes y sus medidas me quedaran de forma ordenada en la versión de desktop,
    no encontré otra forma de solucionarlo*/

@media screen and (min-width:426px) {

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
         grid-template-rows: auto auto;
        grid-column-gap:5px;
         grid-row-gap: 5px;
        justify-items: stretch;
    }

    .foto1{
        grid-area: 1 / 1 / 2 / 4;
        max-height: 350px;
        width: 100%; 
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count:calc(7s);
    }
    @keyframes aparecer{
        0%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    
    }

    .foto2{
        grid-area: 2 / 1 / 3 / 2;
        height: 350px;
        width: 100%;
        animation-duration: 5.5s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    @keyframes aparecer{
        0%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    
    .foto3{
        grid-area: 2 / 2 / 3 / 3;
        height: 350px;
        width: 100%;
        animation-duration: 6s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    @keyframes aparecer{
        0%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    
    
    .foto4{
        grid-area: 2 / 3 / 3 / 4;
        height: 350px;
        width: 474px;
        animation-duration: 6.5s;
        animation-name: aparecer;
        animation-iteration-count: initial;
    }
    @keyframes aparecer{
        0%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    
    
    .menu{
        flex-direction: row;
    }
    .menu img{
        width: 57px;
        height: 57px;
    }

    .barra ul li a:hover{
        color: #e35b34;
        font-size: 27px;
    }

    .todo{
        display: grid; 
        grid-template-columns: 180px auto 16.393%; 
        grid-template-rows: 50px 30px auto; 
        gap: 5px 5px; 
        grid-template-areas: 
        ". titulo ."
        ". . filtro"
        "marca catalogo ."
    }

    .t{
        grid-area: marca;
    }


    .filtro{
        height: 25px;
        width: 100%;
    }

    .marca{
        height: 140px;
        width: 120px;
    }

    .marca2{
        height: 30px;
        width: 120px;
    }

    .talle{
        height: 16px;
        width: 120px;
        margin-top: 10px;
        text-align: center;
    }


    .catalogo img{
        width: 200px;
        height: 200px;
    }
}

/*comienzo del css de toda la pagina*/

html{
    background-color: #F9F3EE;
    background: radial-gradient(circle, rgba(249,243,238,1) 0%, rgba(221,171,155,1) 49%, rgba(223,134,108,1) 72%);
}

.tituloIndex{
    display: none;
}

li{
    list-style: none;
}


/*encabezado de la pagina*/

header{
    display: grid;
    grid-template-columns: 17.65% auto 17.65%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: sticky;
    top: 0%;
    background-color: #F9F3EE;
    border-bottom: 5px solid #e35b34;
    align-items:center;
    justify-items: stretch;
    z-index: 40;
}

.inicio{
    grid-area: 1 / 1 / 2 / 2;
    display:flex ;
}

.inicio a img{
    width: 17.65;
    object-fit:contain;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.barra{
    grid-area: 1 / 2 / 2 / 3;
}

.barra ul{
    display: flex;  
    list-style:none;
    text-align:right;
    justify-content: center;
    font-size:25px;
}

.barra ul li a{
    text-decoration: none;
    color: #182145; 
    padding: 20px;
}

.menu{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;  
}

.menu a img{
    object-fit: cover;
}


/*fin del encabezado*/

/*section del index*/

.galeriab{
    display: flex;
}


/*fin del section del index*/

/*footer*/
footer{
    background-color:#182145;
    color: #F9F3EE;
    padding-left: 5px; 
    font-size: 17px; 
    padding-top: 10px;
    border-top: 5px solid #e35b34;
}

.foot{
    display: flex; 
    justify-content: flex-end;
    font-size: 17px;
    color: #F9F3EE;
    padding: 7px;
}

/*fin del footer*/

/*user.html*/

.logeo{
    color: rgb(24, 33, 69);
    display:block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;   
}

.input{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: rgb(24, 33, 69) 2px solid;
}

.enviar{
    width: 50%;
    height: 50px;
    margin-right:px;
    text-align: center;
    color: rgb(227, 91, 52);
    background-color:rgb(24, 33, 69);
    border-radius: 20px;
    border: rgb(24, 33, 69) 2px solid;
}

.logeo p a{  
    text-decoration: none;
    color:rgb(24, 33, 69) ;
}

/*calzado y demas html del sitio web*/
/*estos aun no son responsive*/

.titulo{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(24, 33, 69);
    grid-area: titulo;
}

.filtro{
    background-color: #F9F3EE;
    color: rgb(24, 33, 69);
    text-align: right;
    margin-bottom: 20px;
    border: solid rgb(227, 91, 52) 3px;
    overflow: auto;
    font-size: 15px;
    border-radius: 10px;
    grid-area: filtro;
}


.marca{
    background-color: #e35b34;
    background: linear-gradient(90deg, rgba(227,91,52,1) 0%, rgba(255,136,98,1) 49%, rgba(255,184,144,1) 72);
    color:rgb(24, 33, 69) ;
    overflow: auto;
    margin-left: 10px; 
    margin-bottom: 40px;
    border-radius: 10px;
    grid-area: marca;
}

.marca2{
    background-color: rgb(227, 91, 52);
    background: linear-gradient(90deg, rgba(227,91,52,1) 0%, rgba(255,136,98,1) 49%, rgba(255,184,144,1) 72%);
    color:rgb(24, 33, 69) ;
    overflow: auto;
    margin-left: 10px;
    border-radius: 10px;
    grid-area: marca;
}

.talle{
    background-color: rgb(227, 91, 52);
    color:rgb(24, 33, 69) ;
    overflow: auto;
    margin-left: 10px;
    border-radius: 10px;
    grid-area: marca;
}

.lista{
    padding-bottom: 0.5px;
    padding-top: 10px;
    margin-left: 10px;
}


.catalogo img{
    margin: 4px;
}

.catalogo p{
    font-size: 15px;
}

.catalogo div{
    max-width: 210px;
    max-height: 210px;
    display: inline-block;
}

.catalogo{
    grid-area: catalogo;  
    text-align: center;
    margin-bottom: 10px;
}


.catalogo img:hover{
    transform: scale(1.1);
    border: 2px outset transparent;
    border-image: linear-gradient(to right, rgb(24, 33, 69), rgb(227, 91, 52)) 1;
}
